.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.leftSection {
 
  width: 50vw;
  background: #fefdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 100vh;
}

.loginHeader {
  text-align: center;
  margin-bottom: 1px;
  color: #000;
}

.loginHeader h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.formGroup {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  position: relative;
 
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px; 
  color: #000;
}

.formGroup a {
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: -18px;
  text-decoration: none;
  color: #333;
}

.loginBtn {
  width: 50vw;
  max-width: 300px;
  padding: 7px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  cursor: pointer;
}
.loginBtn:active {
  background: rgb(34, 34, 34);
}
.loginBtn:hover {
  background: rgb(23, 24, 23);
}

.signupText {
  margin-bottom: 10px;
  color: #000;
  font-size: small;
}

.signupBtn {
  width: 100%;
  max-width: 300px;
  padding: 3px;
  font-size: smaller;
  cursor: pointer;
}

.divider {
  display: flex;
  align-items: center;
  max-width: 300px;
  width: 100%;
  margin: 10px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
}

.divider:not(:empty)::before {
  margin-right: 0.5em;
}
.divider:not(:empty)::after {
  margin-left: 0.5em;
}

.googleBtn {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background: #ddd;
  color: #000;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.terms {
  margin-top: 30px;
  font-size: 10px;
  color: gray;
}

.rightSection {
  height: 100vh;
  width: 50vw;
  background: url("vini.jpg") center center/cover no-repeat;
}
